@model List<Orders>

@{
    ViewData["Title"] = "Orders list";
}
<div class="text-center">
    <h1 class="display-4">Orders</h1>
</div>
<div class="text-center" style="margin-top: 20px">
    @{
        <p>
            <a asp-action="Create">Create order</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Employee id
                    </th>
                    <th>
                        Buyer id
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employeeid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Buyerid)
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@(item.Id)">Update</a>
                            <a asp-action="Delete" asp-route-id="@(item.Id)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>